<!-- <!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}

</head>
<body>
    <h1>About Page</h1>
</body> 
</html> -->


{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Blog @ LarryU is the place for Lawrentians to blog about different clubs and organizations.
Don't know what being a part of a club you might be interested in joining entails? Want to get an inside
scoop on the resources provided by a particular club? You've come to the right place! Blog @ LarryU is 
essentially a platform where you can find different kinds of blog posts - from ways to join a club to details
about upcoming meetings and events, from resources provided by various organizations to articles about the student
life at Lawrence - to get the most out of your extra-curricular life at college.
    </p>
{% endblock content %}